/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:'Times New Roman', Times, serif;
}

#video {
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: absolute;
  color: #fff;
  background: rgba(0, 0, 0, 0.505);
  height: 100vh;
  padding: 100px 60px;
}

.content h1 {
  margin-bottom: 1em;
}

.content p {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 1em;
}

.btn {
  background: #fff;
  padding: 12px 30px;
  border-style: none;
  margin: 5px;
  margin-left: 0;
}